# --------------------
# Node / React
# --------------------
node_modules/
build/
dist/
.env

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# --------------------
# ML / Models
# --------------------
*.pth
*.onnx
*.h5

# --------------------
# Output files
# --------------------
results.csv
*.log

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
